<div class="about">
  <div class="box">
    <div class="content">
      <span class="display-6 text-primary title">Welcome</span>
      <div class="info">
        <p>
          My name is
          <b> Ilan Samara </b>
          , and I'm a Full-Stack Web Developer.
        </p>
        <br />
        <p>
          This web site I've developed, demonstrate a school system management.
        </p>
        <p>
          The system contains 3 main entities- Student, Lecturer and Course,
          which each
        </p>
        <p>
          one can be added, removed or modified, including reference from one to
          other.
        </p>
        <br />
        <p><u> Website Architecture </u></p>
        <ul>
          <li>
            <p>Front-end : Client side based on Angular, Angular-Material.</p>
          </li>
          <li>
            <p>
              Back-end : Server side based on Node.js, with REST-API using
              Express.
            </p>
          </li>
          <li>
            <p>Database : MongoDB server.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
