<div class="edit-student">
  <div class="header">
    <h1>Student Card</h1>
  </div>
  <div class="data-container">
    <form #f="ngForm" (ngSubmit)="handleSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>ID (9 digits)</mat-label>
        <input
          type="text"
          maxlength="9"
          matInput
          [formControl]="idFormControl"
          [ngStyle]="{ textAlign: 'right' }"
        />
        <mat-error *ngIf="f.submitted && idFormControl.hasError('required')"
          >ID is required</mat-error
        >
        <mat-error *ngIf="f.submitted && idFormControl.hasError('minlength')"
          >ID is 9 digits required</mat-error
        >
        <mat-error *ngIf="f.submitted && idFormControl.hasError('pattern')"
          >ID number is not valid</mat-error
        >
        <mat-error *ngIf="f.submitted && idFormControl.hasError('zeros')"
          >ID number can not be zeros</mat-error
        >
        <mat-error *ngIf="f.submitted && idFormControl.hasError('isExist')"
          >ID number already exist</mat-error
        >
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput [ngModel]="firstName" name="firstName" required />
        <mat-error *ngIf="f.submitted && f.controls['firstName'].invalid"
          >first name is required</mat-error
        >
      </mat-form-field>
      <span class="spacer"></span>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput [ngModel]="lastName" name="lastName" required />
        <mat-error *ngIf="f.submitted && f.controls['lastName'].invalid"
          >last name is required</mat-error
        >
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Street</mat-label>
        <input matInput [ngModel]="street" name="street" required />
        <mat-error *ngIf="f.submitted && f.controls['street'].invalid"
          >street is required</mat-error
        >
      </mat-form-field>
      <span class="spacer"></span>
      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput [ngModel]="city" name="city" required />
        <mat-error *ngIf="f.submitted && f.controls['city'].invalid"
          >city is required</mat-error
        >
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill" [ngStyle]="{ width: '300px' }">
        <mat-label>E-mail</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" />
        <mat-error *ngIf="f.submitted && emailFormControl.hasError('required')"
          >email is required</mat-error
        >
        <mat-error *ngIf="f.submitted && emailFormControl.hasError('email')">
          please enter a valid email address
        </mat-error>
        <mat-error *ngIf="f.submitted && emailFormControl.hasError('isExist')">
          email address already exist
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill" [ngStyle]="{ width: '70px' }">
        <mat-label>Area</mat-label>
        <select matNativeControl [ngModel]="pre" name="pre" required>
          <option
            *ngFor="let areaCode of areaCodes"
            value="{{ areaCode }}"
            [ngStyle]="{ textAlign: 'right' }"
          >
            {{ areaCode }}
          </option>
        </select>
        <mat-error *ngIf="f.submitted && f.controls['pre'].invalid"
          >area is required</mat-error
        >
      </mat-form-field>
      <span class="spacer"></span>
      <mat-form-field appearance="fill" [ngStyle]="{ width: '220px' }">
        <mat-label>Phone Number</mat-label>
        <input
          type="number"
          matInput
          [ngModel]="number"
          name="number"
          required
          pattern="[0-9]*"
          [ngStyle]="{ textAlign: 'right' }"
        />
        <mat-error
          *ngIf="f.submitted && f.form.controls['number'].errors?.['required']"
          >phone number is required</mat-error
        >
        <mat-error
          *ngIf="f.submitted && f.form.controls['number'].errors?.['pattern']"
          >phone number is not valid</mat-error
        >
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Registration Date</mat-label>
        <input type="date" matInput [formControl]="rdFormControl" />
        <mat-error *ngIf="f.submitted && rdFormControl.hasError('required')"
          >registration date is required</mat-error
        >
      </mat-form-field>
      <span class="spacer"></span>
      <mat-form-field appearance="fill">
        <mat-label>Birth Date</mat-label>
        <input type="date" matInput [ngModel]="birthDate" name="birthDate" />
      </mat-form-field>
      <br />
      <br />
      <div class="btn-container">
        <button type="submit">Update Card</button>
        <span class="spacer"></span>
        <button type="button" (click)="deleteCard()">Delete Card</button>
        <span class="spacer"></span>
        <button type="reset" (click)="back()">Back</button>
      </div>
    </form>

    <!-- Courses list -->
    <!-- ------------ -->
    <div class="courses-list">
      <h3 class="text-center">Courses</h3>
      <div class="table-container">
        <table mat-table [dataSource]="dataSource">
          <!-- seq number -->
          <ng-container matColumnDef="seqNumber">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.seqNumber }}</td>
          </ng-container>

          <!-- name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Course Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td
              mat-cell
              *matCellDef="let element"
              [ngStyle]="{ color: element.statusColor }"
            >
              {{ element.status }}
            </td>
          </ng-container>

          <!-- grade Column -->
          <ng-container matColumnDef="grade">
            <th mat-header-cell *matHeaderCellDef>Grade</th>
            <td mat-cell *matCellDef="let element">
              {{ element.grade }}
            </td>
          </ng-container>

          <!-- set grade Column -->
          <ng-container matColumnDef="setGrade">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button
                *ngIf="element.status === 'Completed'"
                matTooltip="set grade"
                matTooltipClass="tooltip1"
                matTooltipPosition="right"
                (click)="setGrade(element.gradeId, element.name)"
              >
                <mat-icon>create</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
