<div class="side-menu">
  <nav>
    <ul>
      <li>
        <a
          [routerLink]="['/students']"
          routerLinkActive="link-active"
          class="link"
          >Students</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/lecturers']"
          routerLinkActive="link-active"
          class="link"
          >Lecturers</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/courses']"
          routerLinkActive="link-active"
          class="link"
          >Courses</a
        >
      </li>
    </ul>
  </nav>
</div>
