<div class="new-lecturer">
  <div class="header">
    <h1>New Lecturer</h1>
  </div>
  <form #f="ngForm" (ngSubmit)="handleSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>ID (9 digits)</mat-label>
      <input
        type="text"
        maxlength="9"
        matInput
        [formControl]="idFormControl"
        [ngStyle]="{ textAlign: 'right' }"
      />
      <mat-error *ngIf="f.submitted && idFormControl.hasError('required')"
        >ID is required</mat-error
      >
      <mat-error *ngIf="f.submitted && idFormControl.hasError('minlength')"
        >ID is 9 digits required</mat-error
      >
      <mat-error *ngIf="f.submitted && idFormControl.hasError('pattern')"
        >ID number is not valid</mat-error
      >
      <mat-error *ngIf="f.submitted && idFormControl.hasError('zeros')"
        >ID number can not be zeros</mat-error
      >
      <mat-error *ngIf="f.submitted && idFormControl.hasError('isExist')"
        >ID number already exist</mat-error
      >
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput ngModel name="firstName" required />
      <mat-error *ngIf="f.submitted && f.controls['firstName'].invalid"
        >first name is required</mat-error
      >
    </mat-form-field>
    <span class="spacer"></span>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput ngModel name="lastName" required />
      <mat-error *ngIf="f.submitted && f.controls['lastName'].invalid"
        >last name is required</mat-error
      > </mat-form-field
    ><br />
    <strong>Skills</strong><br />

    <table>
      <tr>
        <th>Languages</th>
        <th>Systems</th>
        <th>Frameworks</th>
        <th>Databases</th>
      </tr>
      <tr>
        <td>
          <section ngModelGroup="langs">
            <ul>
              <li *ngFor="let lang of settings.langs">
                <input ngModel type="checkbox" name="{{ lang }}" />
                {{ lang }}
              </li>
            </ul>
          </section>
        </td>
        <td>
          <section ngModelGroup="systems">
            <ul>
              <li *ngFor="let system of settings.systems">
                <input ngModel type="checkbox" name="{{ system }}" />
                {{ system }}
              </li>
            </ul>
          </section>
        </td>
        <td>
          <section ngModelGroup="frameworks">
            <ul>
              <li *ngFor="let framework of settings.frameworks">
                <input ngModel type="checkbox" name="{{ framework }}" />
                {{ framework }}
              </li>
            </ul>
          </section>
        </td>
        <td>
          <section ngModelGroup="database">
            <ul>
              <li *ngFor="let db of settings.database">
                <input ngModel type="checkbox" name="{{ db }}" />
                {{ db }}
              </li>
            </ul>
          </section>
        </td>
      </tr>
    </table>

    <div class="btn-container">
      <button type="submit">Add Lecturer</button>
      <span class="spacer"></span>
      <button type="reset" (click)="back()">Cancel</button>
    </div>
  </form>
</div>
